@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

@media (max-width: 768px) {
  body {
      background-color: white;
  }
}




@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 2s ease-out;
}

